@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<HouseworkManager.Models.Task>

@{
    ViewData["Title"] = "Home";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="pt-2">
        <h1 class="display-4 text-center">Your Incomplete Tasks</h1>
        @if (ViewBag.IsBelongToGroup)
        {
            <p>
                <a class="btn btn-info" asp-controller="Tasks" asp-action="Create" asp-route-from="1">Add Task</a>
            </p>
            <hr />
            @if (Model != null && Model?.Count() > 0)
            {
                <partial name="_TaskListPartial"></partial>
            }
            else
            {
                <p>You have no task for now</p>
            }

        }
        else
        {
            <p class="text-center">
                You have no group to belong to for now. Please create a group you share your tasks.
                <a class="text-warning" asp-action="Tutorial"> Check the tutorial</a>
            </p>
        }
    </div>
}
else
{
    <div class="text-center py-5">
        <h1 class="display-4">Welcome to Housework Manager</h1>
        <h3>This is a great tool to manage your houseworks!</h3>
        <div>
            <a class="btn btn-danger btn-lg" asp-area="Identity" asp-page="/Account/Register">Register Now!</a>
            <a class="btn btn-success btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
        <div class="w-75 mx-auto mt-5">
            <h4 class="text-start">Sample Tasks</h4>
            <partial name="_TaskListPartial" model="@ViewBag.SampleTasks"></partial>

            <h4 class="text-start mt-5">Group Management</h4>
            <img class="w-100 border mb-3" src="~/images/home/groups.png" alt="Alternate Text" />
        </div>
        <div class="mt-3">
            <p>Organize your housework with us!</p>
            <a class="btn btn-danger btn-lg" asp-area="Identity" asp-page="/Account/Register">Register Now!</a>
            <a class="btn btn-success btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
}

